In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../data/external/cardio_train.csv', delimiter=';')

In [3]:
display( df.describe() )
display( df.head() )

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
categorical_columns = df.nunique()[ df.nunique() < 5 ].index.to_list()
continious_columns = df.nunique()[df.nunique() > 5].index.to_list()

In [5]:
#Set id as index, since it is unnique for each row.
df.set_index(keys='id', inplace=True)
df[categorical_columns] = df[categorical_columns].astype('category')
df['age_yrs'] = df.age//365

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          70000 non-null  int64
 1   gender       70000 non-null  category
 2   height       70000 non-null  int64
 3   weight       70000 non-null  float64
 4   ap_hi        70000 non-null  int64
 5   ap_lo        70000 non-null  int64
 6   cholesterol  70000 non-null  category
 7   gluc         70000 non-null  category
 8   smoke        70000 non-null  category
 9   alco         70000 non-null  category
 10  active       70000 non-null  category
 11  cardio       70000 non-null  category
 12  age_yrs      70000 non-null  int64
dtypes: category(7), float64(1), int64(5)
memory usage: 4.2 MB

In [241]:
#Create sub-tables for positive and negative results
pos = df[ df.cardio == 1 ]
neg = df[ df.cardio == 0 ]

In [78]:
#Select value columns and target columns
data = df[df.columns[:-2]]
target = df[df.columns[-2]]

Split The Data Into Test & Train

In [263]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=99)

Select Model

In [238]:
from sklearn.linear_model import LogisticRegression

In [239]:
model = LogisticRegression()

In [264]:
model.fit(X_train,y_train)
model.score(X_test, y_test)

0.7037857142857142

Try random sampling to compare model success

In [269]:
# predict on 100 rows of test data
trial = np.round( model.predict(X_test.iloc[10:110]), decimals=0 )

In [271]:
#gather answers of the same 100 columns
answers = np.array( y_test.iloc[10:110] )

In [274]:
# Calculate the fitness, closeness to 0 means successive model, if positive > False Positives wegihted, if negative > False Negatives weighted
(trial - answers).sum()

2

In [229]:
(np.random.randint(0,2,size=20) - s).sum()

-9